body {
    font-family: Arial, sans-serif;
    background-color: #4f1c33;
}
  
header {
    background-color: #4f1c33;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
   
  .logo{
    width: 100%;
    height: auto;
}
  
  .opcoes-header{
    display: flex;
}
  

  .conteudo {
    max-width: 960px;
    margin: 90px auto 60px;
    padding: 20px;
    background-color: #4f1c33;
    color: #ffffff;
    border: 1px solid hwb(0 100% 0%);
    box-shadow: 1px 1px 20px;
  }
  
  .informacoes h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .informacoes p {
    margin-bottom: 10px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4f1c33;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }
  
  .logo{
    height: 100%;
    width: 100px;

  }
  
logo, ul, li, a{
      text-align: center;
  }

  .menu li{
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li a{
    text-decoration: none;
    color: hwb(0 100% 0%);
    text-align: center; 
    display: inline-block;
}
 
div, logo, ul, li, a{
  text-align: center;
  
  
}

  
  